$grisColor: #161616;
$naranjaColor: #c84b31;
$textColor: #ecdbba;
$subColor: #c84b31;
$font:'Poppins', sans-serif;
$bgColor:#161616;


$borderColor: $naranjaColor ;
$colorMenu: $naranjaColor;
$colorLetraMenu: $grisColor;
$colorLetraMenuHover: $naranjaColor;