@import "colors";
@import "sizes";
@import "header";
@import "body";
@import "footer";
@import "fotos";
@import "index"; 
@import "servicios";
@import "contacto";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
